.gnu-itinerary li {
    list-style-type: none;
    text-align: center;
    margin: 5px;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    background-color: rgb(52, 101, 164);
    color: rgb(255, 255, 255);
}
.gnu-itinerary a[href] {
   text-decoration: none;
   color: rgb(255, 255, 255);
}
.gnu-itinerary a[href]:visited {
	text-decoration: none;
	color: rgb(255, 255, 255);
}
.gnu-itinerary a[href]:hover {
	text-decoration: none;
	color: rgb(255, 255, 255);
}
.gnu-itinerary li:hover {
    background-color: rgb(128, 0, 0);
}
.button a[href] {
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    background-color: rgb(52, 101, 164);
    color: rgb(255, 255, 255); 
}
.button a[href]:visited {
    color: rgb(255, 255, 255); 
}
.button a[href]:hover {
    background-color: rgb(128, 0, 0);
    color: rgb(255, 255, 255); 
  }
#content {
    padding-bottom: 0em;
}
.emph-box {
    margin-bottom: 20px;
	border: 3px solid #cccccc;
	border-radius: 0.4em;
}
.emph-box p {
  font-size: 1em;
}
.emph-box h4 {
  background-color: #919191; 
  color: rgb(236, 236, 236);
  border-radius: 0.2em;
}
.emph-box h4 a[href] {
	color: #ececec;
}
.emph-box h4 a[href]:visited {
	color: #ececec;
}
.emph-box h4 a[href]:hover {
	color: rgb(52,101,164);
}
.emph-box h4 a[href]:active {
	color: rgb(52,101,164);
}
.gnu-a-day {
	border: 2px solid rgb(52, 101, 164);  /* alternative: #98a9b6, #43779f; */
	border-radius: 0.3em;
	padding: 0.4em;
}
td:first-child {
    width: 12%;
    text-align: center;
}
td:first-child + td {
    width: 60%;
}

.narrow-region {
	width: 86%;
	margin-left:7%;
}
@media screen and (max-width:40em) {
	.yui-g .yui-u,.yui-g div.first, .yui-gc div.first, .yui-gc .yui-u {
		width:98%; float: none; margin-left: 1%;
	}
}