/* V7R Stylesheet */
/* 2003 Chao-Hong Liu <chliu@gnu.org> */


body { background: white;
       color: black;
       margin: 1cm 1cm 0.5cm; }

h1 { font-weight: bold;
     font-size: 18pt;
     line-height: 18pt; }

h2 { font-weight: bold;
     font-size: 14pt;
     line-height: 14pt; }

h3 { font-weight: bold;
     font-size: 12pt;
     line-height: 12pt; }

#title { font-weight: bold; }
