# NOTE: Overriding Options from .htaccess is not permitted by server configuration for security reasons

RedirectPermanent /private/index.html http://www.gnu.org/home.html

# Redirect the old /philsophy/schools.html article to the new home
RedirectPermanent /philosophy/schools.ar.html http://www.gnu.org/education/edu-schools.ar.html
RedirectPermanent /philosophy/schools.bg.html http://www.gnu.org/education/edu-schools.bg.html
RedirectPermanent /philosophy/schools.ca.html http://www.gnu.org/education/edu-schools.ca.html
RedirectPermanent /philosophy/schools.de.html http://www.gnu.org/education/edu-schools.de.html
RedirectPermanent /philosophy/schools.el.html http://www.gnu.org/education/edu-schools.el.html
RedirectPermanent /philosophy/schools.es.html http://www.gnu.org/education/edu-schools.es.html
RedirectPermanent /philosophy/schools.fa.html http://www.gnu.org/education/edu-schools.fa.html
RedirectPermanent /philosophy/schools.fr.html http://www.gnu.org/education/edu-schools.fr.html
RedirectPermanent /philosophy/schools.he.html http://www.gnu.org/education/edu-schools.he.html
RedirectPermanent /philosophy/schools.html http://www.gnu.org/education/edu-schools.html
RedirectPermanent /philosophy/schools.it.html http://www.gnu.org/education/edu-schools.it.html
RedirectPermanent /philosophy/schools.ml.html http://www.gnu.org/education/edu-schools.ml.html
RedirectPermanent /philosophy/schools.nl.html http://www.gnu.org/education/edu-schools.nl.html
RedirectPermanent /philosophy/schools.pl.html http://www.gnu.org/education/edu-schools.pl.html
RedirectPermanent /philosophy/schools.pt-br.html http://www.gnu.org/education/edu-schools.pt-br.html
RedirectPermanent /philosophy/schools.ru.html http://www.gnu.org/education/edu-schools.ru.html
RedirectPermanent /philosophy/schools.ta.html http://www.gnu.org/education/edu-schools.ta.html
RedirectPermanent /philosophy/schools.uz.html http://www.gnu.org/education/edu-schools.uz.html

RedirectPermanent /philosophy/about-fs.html http://www.gnu.org/philosophy/

# Redirecting the old philosophy/gov-promote.html to the new philosophy/government-free-software.html
# Translations also being redirected to the English version until corresponding translations exist of the new version
RedirectPermanent /philosophy/gov-promote.es.html http://www.gnu.org/philosophy/government-free-software.html
RedirectPermanent /philosophy/gov-promote.html http://www.gnu.org/philosophy/government-free-software.html
RedirectPermanent /philosophy/gov-promote.ru.html http://www.gnu.org/philosophy/government-free-software.html
RedirectPermanent /philosophy/gov-promote.de.html http://www.gnu.org/philosophy/government-free-software.html 

# Redirecting old Translations Readme translations to new English version RT #720004.
# TRANSLATORS: Please remove the redirection when updating your translation.
RedirectPermanent /server/standards/README.translations.ar.html /server/standards/README.translations.en.html
RedirectPermanent /server/standards/README.translations.de.html /server/standards/README.translations.en.html
RedirectPermanent /server/standards/README.translations.es.html /server/standards/README.translations.en.html
RedirectPermanent /server/standards/README.translations.id.html /server/standards/README.translations.en.html
RedirectPermanent /server/standards/README.translations.sq.html /server/standards/README.translations.en.html
RedirectPermanent /server/standards/README.translations.uk.html /server/standards/README.translations.en.html
