/* this stylesheet is used by older resources, as well as manuals. */

@import url('/combo.css');
@import url('/layout.css');

/* some very basic styling for the pages that still use this. */
body { margin: auto; width: 99%; max-width:74.92em; padding-bottom: 1em; }

/* For pages which don't use #null-wrapper or .inner (Emacs manual,
   for example) */
body h2, body h3, body h4, body h5, body p {
   margin-left: 1.5%; margin-right: 1.5%;
}
body ul, body ol, body dl, body blockquote {
   padding-left: 1.5%; padding-right: 1.5%;
}

/* Specifically for sections of the Emacs manual which start at the top
   of the page. */
div.node { border-top: 1em solid white; }

/* This restores the normal margin for pages which use #null-wrapper
   or .inner. */
#null-wrapper h2, #null-wrapper h3, #null-wrapper h4, #null-wrapper h5,
 #null-wrapper p, .inner h2, .inner h3, .inner h4, .inner h5, .inner p {
   margin-left: 0; margin-right: 0;
}

