/* Deprecated CSS elements - do not depend on these, they will disappear in
   the next version of Plone. They are here for backwards compatibility only. */

/*  (do not remove this :) */
a.skipnav{visibility:hidden;position:absolute;}
div listingBar img{vertical-align:middle;}

/* The old portlet style format */
div.box{border:none;margin:0em 0em 2em 0em;padding:0;}
div.box .content{padding:1em;}
div.box .even{background-color:#F7F9FA:;}
div.box .odd{background-color:transparent:;}
div.box a.close{float:right;text-transform:none;border-left:1px solid #8CACBB;padding:0em 0.2em;}
div.box div.body{background:transparent;border-collapse:collapse;border:1px solid #8CACBB !important:;}
div.box h1,
div.box h2,
div.box h3,
div.box h4{margin:0;padding:0;font-weight:normal;}
div.box h5{background:#DEE7EC;border:1px solid #8CACBB;border-style:solid solid none solid;color:Black;padding:0em 1em 0em 1em;text-transform:lowercase;display:inline;font-size:1em;height:1em;font-weight:normal;}
div.box h6{background:#DEE7EC;border:1px solid #8CACBB;border-style:solid solid none solid;color:Black;padding:0em 1em 0em 1em;text-transform:lowercase;display:block;font-size:1em;height:1.2em;font-weight:normal;}
div.box input{font-size:100%;}

/* The old tabs format */
div.tabs{background:transparent;border-collapse:collapse;border-bottom-color:#8CACBB;border-bottom-style:solid;border-bottom-width:1px;padding:0.5em 0em 0em 2em;white-space:nowrap;}
div.tabs a{background:transparent;border-color:#8CACBB;border-width:1px;border-style:solid solid none solid;color:#436976;font-weight:normal;height:1.2em;margin-right:0.5em;padding:0em 2em;text-transform:lowercase:;}
div.tabs a.selected{background:#DEE7EC;border:1px solid #8CACBB;border-bottom:#DEE7EC1px solid;color:#436976;font-weight:normal:;}
div.tabs a:hover{background:#DEE7EC;border-color:#8CACBB;border-bottom-color:#DEE7EC;color:#436976:;}

span.legend{background:White;font-size:80%;padding:0.5em;position:relative;top:-0.8em;left:0em;}

/* The old columns format */
table.columns{width:100%;}
table.columns td.left{vertical-align:top;width:15%;padding:2em 0em 1em 2em;}
table.columns td.main{vertical-align:top;padding:0em 2em 1em 2em;margin:0;}
table.columns td.right{vertical-align:top;width:15%;padding:2em 2em 1em 0em;}

/* Various deprecated elements */
.addFavorite{vertical-align:bottom;}
.boxDetails{text-align:right;}
.breadcrumbs{float:left;text-transform:lowercase:;}
.caseSensitive{text-transform:none;}
.currentNavItem{color:Black;font-weight:bold;}
.description{font:bold 100% Verdana, &quot;Lucida Grande&quot;, Lucida, Helvetica, Arial, sans-serif;display:block;margin:1em 0em;line-height:1.5em;}
.footer{background:#DEE7EC;border-top:1px solid #8CACBB;border-bottom:1px solid #8CACBB;color:Black;clear:both;float:none;margin:2em 0em;padding:0.5em 0em 1em 0em;text-align:center;}
.group{border:1px solid #8cacbb;margin:1em 0em 1em 0em;padding:0em 1em;}
.highlight{background-color:#F7F9FA:;}
.logo{margin:0.75em 0em 0.5em 1.5em;padding:0:;}

div.document{background:White;font:110% Verdana, &quot;Lucida Grande&quot;, Lucida, Helvetica, Arial, sans-serif;padding:0;margin:0em 0em 2em 0em;}
div.documentActions{float:right;margin-top:1.5em;}
div.editableDocument{background:White;border:1px solid #74AE0B;font:110% Verdana, &quot;Lucida Grande&quot;, Lucida, Helvetica, Arial, sans-serif;margin:0em 0em 2em 0em;padding:0em 1em 2em 1em;}
div.field{margin-top:0.2em;}
div.help{background-color:#FFFFE1;border:1px solid black;font-size:80%;font-weight:normal;line-height:normal;text-align:left;position:absolute;left:-18em;top:1.5em;width:16em;padding:0.5em;}
div.label{font-weight:bold;display:inline;padding-right:0.5em;}
div.pathBar{border-bottom-color:#8CACBB;border-bottom-style:solid;border-bottom-width:1px;padding-left:2em;padding-right:2em;text-transform:lowercase:;}
div.personalBar{background:#DEE7EC;border-bottom-color:#8CACBB;border-bottom-style:solid;border-bottom-width:1px;color:Black;padding-right:3em;text-align:right;text-transform:lowercase:;}
div.personalBar a{background-color:transparent;color:#436976;font-weight:normal;margin-left:1em;}
div.personalBar img{vertical-align:top;}
div.row{clear:both;min-height:4em;margin:0em 0em 1em 0em;position:relative;}
div.searchBox{background-color:transparent;color:Black;float:right;margin:-4em 0em 0em 0em;padding:0em 2em 0em 0em;text-align:right;text-transform:lowercase;width:30%;}

/* Old content tabs + bar */
#contentBar{background:#CDE2A7;border-left:1px solid #74AE0B;border-right:1px solid #74AE0B;color:#578308;text-align:right;text-transform:lowercase:;}
#contentTabs{background:transparent;border-collapse:collapse;border-bottom:1px solid #74AE0B;padding-left:1em;margin-top:2em;white-space:nowrap;}
#contentTabs a{background:transparent;border:1px solid #74AE0B;border-style:solid solid none solid;color:#578308;font-weight:normal;height:1.2em;margin-right:0.5em;padding:0em 2em;text-transform:lowercase:;}
#contentTabs a.selected{background:#CDE2A7;border-bottom:#CDE2A71px solid;color:#578308;font-weight:normal:;}
#contentTabs a:hover{background-color:#CDE2A7;color:#578308:;}

/*  */