/*  */
/* */


.BlogByLine 
{font-size:80%;
color: #999999;
/* text-transform: lowercase; */
margin-bottom:1em;
}

.BlogCommandLine {
color:#999999;
/* text-transform: lowercase; */
margin-bottom:1em;
}

.BlogCommandLine form {
display: inline;
}

.noMargin {margin-bottom:0}

.simpleBlogLinkButtons {
display:block;
margin-bottom:1em;
}

.simpleBlogEntry {}

.simpleBlogDescription {
margin: 0.5em 0em 1em 0em;
line-height: 1.5em;
}

.simpleBlogDescriptionOnly {
margin-top:0em;
margin-bottom:1em;
line-height: 1.5em;
}

.simpleBlogTitle {}

.simpleBlogBody {}

.simpleBlogBylineCats {}

.simpleBlogCalendar {
border: 1px solid #666666;
margin: 1em 0em;
border:none;
margin: 1em;
}


.simpleBlogCalendar a {
text-decoration: none;
}
.simpleBlogCalendar a:hover {
text-decoration: none;
}

.simpleBlogCalendar th {
background-color: transparent;
font-weight: bold;
text-align: center;
padding: 2px;
}

.simpleBlogCalendar td {
background-color: transparent;
width: 1.5em;
text-align: right;
padding: 2px;
}

.simpleBlogCalendar .weekdays td {
background-color: transparent;
border: 1px solid #666666;
border-style: solid none;
text-align: center;
padding: 2px;
}
.simpleBlogCalendar .event {
background-color: #d4cfcb;
font-weight: bold;
}
.simpleBlogCalendar .todayevent {
background-color: #d4cfcb;
border: 2px solid #000000;
font-weight: bold;
}
.simpleBlogCalendar .todaynoevent {
border-collapse: collapse;
border: 2px solid #000000;
}

/*  */