<!-- start of server/banner.html -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/combo.css" media="screen" />
<link rel="stylesheet" href="/mini.css" media="handheld" />
<link rel="stylesheet" href="layout.css" media="screen" />
<link rel="stylesheet" href="/print.min.css" media="print" />
</head>
<body>
<div class="inner">
<!--#include virtual="/server/staging/layout/body-include-1.html" -->
<!--#include virtual="/server/staging/layout/body-include-2.html" -->
<div id="content-wrapper">
<div id="content">
<!-- end of server/banner.html -->
