<!-- start of server/body-include-1.html -->
<div id="header">

<p id="toplinks">
 <span class="netscape4"><a href="#content">Skip to main text</a></span>
</p> <!-- /toplinks -->

<div id="gnu-banner">
<a href="/">
<img src="gnu-logo.square.png" alt=" [GNU logo] " /></a>
</div><!-- /gnu-banner -->

<div id="searcher">
 <form method="get" action="//www.gnu.org/cgi-bin/estseek.cgi">
  <div>
  <input name="phrase" id="phrase" type="text" accesskey="s"
         value="Why GNU/Linux?" onfocus="this.value=''" />
  <input type="submit" value="Search" />
  </div>
 </form>
</div><!-- /searcher -->

<p id="fsf-support" class="no-display">Sponsored by the
<strong><a href="#mission-statement">FSF</a></strong></p>


<!-- end of server/body-include-1.html -->
