<!-- begin server/footer-text.html -->
<p id="backtotop"><a href="#header">back to top</a></p>

</div><!--/content-wrapper -->

<div id="left-column">

<hr class="no-display" />

<div id="lang">
<!--#set var="HTML_BODY" value="yes" -->
<!--#set var="cb" value="$REQUEST_URI" -->
<!--#if expr="$cb = /^([^?]*)[?]/" -->
<!--#set var="cb" value="$1" -->
<!--#endif -->
<!--#set var="language_selector"
 value='<a href="/server/select-language.html?callback=$cb" rel="nofollow">' -->
<!--#set var="closing_anchor" value='</a>' -->

<p id="set-lang"><strong>
 <span class="gnun-split"></span>
 <span><!--#echo encoding="none" var="language_selector" -->
 Set preferred language
 <span class="gnun-split"></span>
 <!--#echo encoding="none" var="closing_anchor" --></span>
</strong></p>
<p id="translist"><strong>Available for this page:</strong></p>
<!--#if expr="$TRANSLATION_LIST" -->
<!--#echo encoding="none" var="TRANSLATION_LIST" -->
<!--#elif expr="$INITIAL_TRANSLATIONS_LIST = included" -->
<!-- if initial translation list isn't included before banner.html,
     then the file may use an old boilerplate that contains
     div#translations in its body, and we mustn't duplicate it here. -->
<!--#include virtual="/server/gnun/initial-translations-list.html" -->
<!--#endif -->
</div>

<hr class="no-display" />
<!-- include virtual="/server/page-tags.html" -->
<div id="fsf-frame">
<div id="fssbox">
<p><strong><a href="http://www.fsf.org/fss">Free Software Supporter</a></strong><br />(monthly newsletter)</p>
<form action="https://my.fsf.org/civicrm/profile/create?reset=1&amp;gid=31" method="post">
 <div>
  <input name="postURL" type="hidden" value="" />
  <input type="hidden" name="group[25]" value="1" />
  <input name="cancelURL" type="hidden" value="https://crm.fsf.org/civicrm/profile?reset=1&amp;gid=31" />
  <input name="_qf_default" type="hidden" value="Edit:cancel" />
 </div>
 <p>
  <input type="text" id="frmEmail" name="email-Primary" maxlength="80"
         value="email address" onfocus="this.value=''"/>
  <input type="submit" name="_qf_Edit_next" value="Sign up" />
 </p>
</form>
</div><!-- /fssbox -->

<p id="join-fsf"><strong><a href="https://www.fsf.org/associate/support_freedom?referrer=4052">JOIN&nbsp;THE&nbsp;FSF</a></strong></p>
</div><!-- /fsf-frame -->

<hr class="no-display" />
<div id="mission-statement">
<blockquote>
<a href="http://www.fsf.org"><img id="fsfbanner"
src="/graphics/fsf-logo-notext-small.png" alt=" [FSF logo] "/></a>
<p><strong>&ldquo;Our
mission is to preserve, protect and promote the freedom to use, study,
copy, modify, and redistribute computer software, and to defend the
rights of Free Software users.&rdquo;</strong></p>
</blockquote>

<p>The <a href="http://www.fsf.org">Free Software Foundation</a> is
the principal organizational sponsor of the GNU Operating System.
<strong>Support GNU and the FSF</strong> by <a
href="http://shop.fsf.org/">buying manuals and gear</a>, <a
href="https://my.fsf.org/associate/support_freedom?referrer=4052">
<strong>joining the FSF</strong></a> as an associate member, or making
a <strong>donation</strong>, either <a
href="http://donate.fsf.org/">directly to the FSF</a> or <a
href="http://flattr.com/thing/313733/gnuproject-on-Flattr">via
Flattr</a>.</p>

<p id="sisters" class="no-display">The <a href="http://www.fsf.org/">FSF</a> also has sister
organizations in <a href="http://www.fsfe.org">Europe</a>, <a
href="http://www.fsfla.org/">Latin America</a> and <a
href="http://fsf.org.in/">India</a>.</p>
</div><!-- /mission-statement -->

</div><!-- /left-column -->

<hr class="no-display" />

<!-- end server/footer-text.html -->
