/* this stylesheet is used by older resources, as well as manuals. */

@import url('/combo.css');
@import url('layout7.css');

/* some very basic styling for the pages that still use this. */
body { margin: auto; width: 99%; max-width:74.92em; padding-bottom: 1em; }

/* For pages which don't use #null-wrapper or .inner (Emacs manual,
   for example) */
h2, h3, h4, h5, p, ul, ol, dl, blockquote { padding-left: 3%; padding-right: 3%; }

/* Specifically for sections of the Emacs manual which start at the top
   of the page. */
div.node { border-top: 1em solid white; }

/* This restores the normal margin for pages which use #null-wrapper
   or .inner. */
#null-wrapper h2, #null-wrapper h3, #null-wrapper h4, #null-wrapper h5,
 #null-wrapper p, .inner h2, .inner h3, .inner h4, .inner h5, .inner p {
   padding-left: 0; padding-right: 0;
}

/* For old-style pages. */
#logo {
   background:url(/graphics/topbanner.png) no-repeat;
   float: left;
   padding:0; margin:0; border:0;
}
#logo a {
   display:block; overflow:hidden;
   width:550px;
   height:0px;
   text-decoration:none;
   padding:0; padding-top:101px;
   margin:0; border:0;
   cursor:pointer;
}

