
@import url('/css_rtl/gnu-new.css');


@media screen {
body{
font-size: 130%;}

h1,h2,h3,h4,h5,h6{color: white !important; font-weight: bold;}

body, #top2, #sidebar, #translations, #footer {
background-color: #0000FF !important;
color: white;
}

#translations{border: 0;}

a:link{color: yellow !important;}

a:hover{background-color: black !important;}

a:visited{color: white !important;}
}

