
@import url('/css_rtl/gnu-new.css');


@media screen {
body{
font-size: 130%;}

h1,h2,h3,h4,h5,h6{color: magenta !important;}

body, #top2, #sidebar, #translations, #footer{
background-color: black !important;
color: yellow;
}

#translations{border: 0;}

a:link{color: cyan !important;}

a:hover{background-color: black !important;}

a:visited{color: pink !important;}
}

