.NOUNDER {
 color: white;
 text-decoration:none;
}

A:link {
 color: #a60600;
 text-decoration:none;
}

A:visited {
 color: #a60600;
 text-decoration:none;
}

A:active {
 color: #a60600;
 text-decoration:none;
}
.MAIN {
 font-size: 10pt;
 font-weight: 100;
 color: black;
 font-family: "verdana,arial";
}
.TITULO {
 font-size: 10pt;
 font-weight: 100;
 color: black;
 font-family: "verdana,arial";
}
